openapi: 3.1.0
info:
  title: Rubypets API
  version: "0.1.0"
  description: >
    Draft API spec for Rubypets. Base URL: `https://api.rubypets.com`.
    Auth uses Bearer JWT (HTTP-only cookie recommended for browser clients).
servers:
  - url: https://api.rubypets.com
    description: Production
  - url: http://localhost:8787
    description: Local dev (wrangler dev)
security:
  - bearerAuth: []
tags:
  - name: health
  - name: auth
  - name: users
  - name: pets
  - name: posts
  - name: social
  - name: chat
  - name: notifications

paths:
  /api/health:
    get:
      summary: Health check (no auth)
      tags: [health]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthStatus"

  /api/auth/register:
    post:
      summary: Create account
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, handle]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                handle:
                  type: string
                displayName:
                  type: string
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/auth/login:
    post:
      summary: Login with email/password
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokens"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/auth/logout:
    post:
      summary: Logout and revoke tokens
      tags: [auth]
      security:
        - bearerAuth: []
      responses:
        "204":
          description: No content

  /api/auth/refresh:
    post:
      summary: Refresh access token
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokens"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/me:
    get:
      summary: Get current user profile
      tags: [users]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
    put:
      summary: Update current user profile
      tags: [users]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                avatarUrl:
                  type: string
                bio:
                  type: string
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/pets:
    get:
      summary: List pets owned by current user
      tags: [pets]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Pet"
    post:
      summary: Create a pet
      tags: [pets]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PetCreateInput"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pet"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/pets/{petId}:
    get:
      summary: Get pet detail
      tags: [pets]
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PetId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pet"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      summary: Update a pet
      tags: [pets]
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PetId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PetUpdateInput"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pet"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete a pet
      tags: [pets]
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/PetId"
      responses:
        "204":
          description: Deleted

  /api/posts:
    get:
      summary: List posts by user
      tags: [posts]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: userId
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Post"
        "400":
          $ref: "#/components/responses/BadRequest"
    post:
      summary: Create a post
      tags: [posts]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                mediaKey:
                  type: string
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"

  /api/feed/recommended:
    get:
      summary: Recommended pets/people
      tags: [social]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Pet"

  /api/matches/like:
    post:
      summary: Like a profile/pet
      tags: [social]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [targetId]
              properties:
                targetId:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  matched:
                    type: boolean
                  matchId:
                    type: string
                    nullable: true

  /api/matches/skip:
    post:
      summary: Skip a profile/pet
      tags: [social]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [targetId]
              properties:
                targetId:
                  type: string
      responses:
        "200":
          description: OK

  /api/matches:
    get:
      summary: List matches
      tags: [social]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Match"

  /api/chats/{roomId}/messages:
    get:
      summary: List chat messages
      tags: [chat]
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RoomId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Message"
    post:
      summary: Send a message
      tags: [chat]
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/RoomId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"

  /api/notifications:
    get:
      summary: List notifications
      tags: [notifications]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Notification"
                  nextCursor:
                    type: string
                    nullable: true

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    PetId:
      in: path
      name: petId
      required: true
      schema:
        type: string
    RoomId:
      in: path
      name: roomId
      required: true
      schema:
        type: string
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    HealthStatus:
      type: object
      properties:
        ok:
          type: boolean
        environment:
          type: string
        d1:
          type: boolean
        r2:
          type: boolean
        ts:
          type: string
          format: date-time
    AuthTokens:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer
          description: Seconds until access token expires
    User:
      type: object
      properties:
        id:
          type: string
        handle:
          type: string
        displayName:
          type: string
        email:
          type: string
          nullable: true
        avatarUrl:
          type: string
          nullable: true
        bio:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
    Pet:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        species: { type: string }
        breed: { type: string, nullable: true }
        age: { type: integer, nullable: true }
        avatarUrl: { type: string, nullable: true }
        ownerId: { type: string }
        createdAt: { type: string, format: date-time }
    PetCreateInput:
      type: object
      required: [name, species]
      properties:
        name: { type: string }
        species: { type: string }
        breed: { type: string }
        age: { type: integer }
        avatarUrl: { type: string }
    PetUpdateInput:
      type: object
      properties:
        name: { type: string }
        species: { type: string }
        breed: { type: string }
        age: { type: integer }
        avatarUrl: { type: string }
    Post:
      type: object
      properties:
        id: { type: string }
        authorId: { type: string }
        content: { type: string }
        mediaKey: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        authorHandle: { type: string, nullable: true }
        authorDisplayName: { type: string, nullable: true }
    Match:
      type: object
      properties:
        id: { type: string }
        targetId: { type: string }
        matched: { type: boolean }
        createdAt: { type: string, format: date-time }
    Message:
      type: object
      properties:
        id: { type: string }
        roomId: { type: string }
        senderId: { type: string }
        content: { type: string }
        createdAt: { type: string, format: date-time }
    Notification:
      type: object
      properties:
        id: { type: string }
        type: { type: string }
        title: { type: string }
        body: { type: string }
        createdAt: { type: string, format: date-time }
        read: { type: boolean }
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
